<p id="textbig">nokotta-です。利用するにはログインしてください。</p>
<div class="midle" id="center">


<br>
<div id="mannaka">
<%= link_to login_path do image_tag('login.png',:size => '240x60' , onmouseover: "this.src='#{asset_path('login2.png')}'" ,onmouseout: "this.src='#{asset_path('login.png')}'") end %>
<br>
<br>
<%= link_to new_user_path do image_tag('first.png',:size => '240x60' , onmouseover: "this.src='#{asset_path('first2.png')}'" ,onmouseout: "this.src='#{asset_path('first.png')}'") end %>
<br>
</div>

</div>
