// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//body
body {
    background-color: lightcyan;
    line-height: normal;
}

//レイアウト
.flex {
    flex-direction: row;
    display: -webkit-flex;
    display: flex;
}
.midle {
    width: 400px;
    height: 500px;
    background: lightgreen;
    margin: auto;
}
.timeline {
    border-style: solid;
    background-color: lightgreen;
    flex: 4;
}
.sidebar {
    border-style: solid;
    background-color: lightpink;
    flex: 1;
}


//文字の場所
#center{
    text-align: center;
}
#right {
    text-align: right;
}


//その他
th{
    font-size: xx-large;
}
td{
    font-size: x-large;
    padding: 10px;
    line-height: normal;
}

#textbig {
    font-size: xx-large;
    line-height: normal;
}

#textLittleBig {
    font-size: x-large;
    line-height: normal;
}

#kotei {
    position: fixed;
}

#mannaka {
    margin-top: 150px;
}
